.about {
	/* background: linear-gradient(
		180deg,
		rgb(245, 245, 245),
		rgb(34, 34, 34) 81%,
		rgb(245, 245, 245) 100%
	); */
	height: auto;
	padding: 2vh 2vw;
}

.about__boxex {
	display: flex;
	flex-direction: column;
}

.box1 {
	margin-bottom: 16px;
	height: 260px;
}

.box2 {
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
	height: 260px;
}

.box3 {
	display: flex;
	justify-content: end;
	margin-bottom: 16px;
	height: 520px;
}
